body {
    background-color: #f5e6cc;
    font-family: 'Courier New', Courier, monospace;
    color: #6b4423;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #EEE8D5;
    border: 2px solid #f5e6cc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #7d4d27;
}

.login-container h2 {
    text-align: center;
    color: #7d4d27;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin: 10px 0;
    color: #7d4d27;
}

.login-form input {
    padding: 10px;
    border: 1px solid #6b4423;
    border-radius: 3px;
}

.login-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #7d4d27;
    color: #FDF6E3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #5a371b;
}