body {
  background-color: #F5F5DC; /* Beige */
}

.MuiAppBar-root {
  background-color: #8B4513 !important; /* SaddleBrown */
  color: #FDF5E6 !important; /* OldLace */
}

.MuiCard-root {
  background-color: #DEB887 !important; /* BurlyWood */
  color: #654321 !important; /* DarkBrown */
}

.book-cover {
  height: 400px;
  width: 200px;
}

.container {
  padding-top: 64px;
  display: flex;
  justify-content: center;
}

.wheel-container {
  display: flex;
  align-items: center;
  margin-bottom: 60px; /* Add bottom margin to prevent overlap with footer */
}

.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: transform 0.5s ease;
}

.wheel.transitioning {
  transition: none;
}

.Card {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.Card.side {
  transform: scale(0.7);
  opacity: 0.5;
}

.Card.center {
  transform: scale(1.0); /* Adjusted scale of the center card */
  opacity: 1;
}

button {
  background-color: #8B4513;
  color: #FDF5E6;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #A0522D;
}

.footer {
  background-color: #8B4513;
  color: #FDF5E6;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
}
